.calcBorder{
    border: 3px outset gray;
    background: gainsboro;
    left: 50%;
    margin: 0 0 0 -100px;
    min-height: 190px;
    min-width: 210px;
    max-height: 300px;
    max-width: 320px;
    padding: 8px;
    position: absolute;
    top: 5%;
    height: 30%;
    width: 30%;
}
.calcButtons{
    margin: 0.4%;
    margin-bottom: 0.8%;
    position: relative;
    text-align: center;
    height: 16%;
    width: 22.7%;
}
.calcBrackets{
    width: 10.1%;
}
.calcAct{
    margin-right: 0.8%;
    width: 47.6%;
}
.calcInput{
    margin: 1px;
    margin-bottom: 4px;
    position: relative;
    text-align: right;
    height: 10%;
    width: 97%;
}
.tdRed{
    background-color: red;
}
.tdYellow{
    background-color: yellow;
}